/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar {
    margin-bottom: 0 !important;
}

    .navbar div.nav-about {
        float: right;
    }

    .navbar a.nav-about {
        width: 80px;
        text-align: right;
        padding-left: 19px;
        line-height: 54px;
        font-size: 14px;
    }

    .navbar div.nav-about form {
        display: inline-block;
    }

    .navbar div.nav-about form button {
        font-size: 14px;
    }

    .navbar div.nav-about form button:hover {
        text-decoration: underline;
    }

header .container {
    display: block !important;
}

.container {
    max-width: 100%;
}

.main {
    background: url("../img/loginbg.jpg");
    background-repeat: repeat;
    background-position: top center;
    min-height: 768px
}

main {
    padding-bottom: 50px !important;
    display: grid;
    grid-template-columns: 246px auto;
}

    main .sidebar,
    main .content {
        box-sizing: border-box;
    }

main:after {
    content: "";
    display: table;
    clear: both;
}

.main .container {
    padding: 30px 30px 0 30px;
}

    .main .sidebar {
        z-index: 1;
    }

        .main .sidebar .inner {
            background: white;
            padding: 15px 22px 20px;
            border: 1px solid #dee2e6c2;
            width: 246px;
            box-shadow: 0.25rem 0.25rem 0.75rem rgba(0, 0, 0, .05);
        }

        .main .sidebar .small-icon:before {
            color: #036E8C !important;
            font-size: 20px;
        }

    .main .sidebar ul {
        padding: 0;
    }

        .main .sidebar a {
            color: #212529;
        }

            .main .sidebar a:hover {
                color: #1ca9d4;
                text-decoration: none;
            }

    .main .menu-group {
        padding-top: 10px;
        padding-bottom: 2px;
        list-style: none;
        font-size: 17px;
    }

    .main .menu-option {
        list-style: none;
        padding-bottom: 2px;
        font-size: 13px;
        margin-left: 45px;
    }

.main .content {
    background: white;
    padding: 25px 0 40px 25px;
    border: 1px solid #dee2e680;
    box-shadow: 0.25rem 0.25rem 0.75rem rgba(0, 0, 0, .05);
    margin-left: 30px;
}

    .main .content .inner-content {
        margin-bottom: 30px;
    }

.class-selection {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.class-selection .selector {
    line-height: 26px;
}

.class-selection .selector div {
    padding-right: 25px;
}

.class-selection .selector select {
    border: none;
}

.class-selection .selector .small-icon:before {
    font-size: 23px;
    color: #32b1d8;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.form-control {
    font-size: 13px !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
/*    margin-bottom: 60px;*/
    font-family: 'Quicksand', serif !important;
}

.page {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a, a:hover {
    color: #1ca9d4;
}

.footer {
/*    position: absolute;*/
/*    bottom: 0;*/
    width: 100%;
    white-space: nowrap;
    text-align: right;
    background-color: #f7f7f7;
    display: table;
    font-size: 12px;
}

footer .colmn {
    display: table-cell;
}

footer .title {
    font-size: 25px;
}

footer .contact {
    width: 200px;
    padding: 15px 0 20px 0;
}

footer .address {
    width: 200px;
    padding: 15px 90px 12px 0;
}

footer .sm-contact {
    padding: 5px 0 20px;
}

.small-icon:before {
    padding: 0;
    margin: 0 0 0 5px !important;
    color: #f9a835;
}

.small-icon.mail:before {
    color: #6c757d;
    padding-right: 5px;
}

input[type=text]:focus,
input[type=password]:focus {
    outline: none;
    border-bottom: 2px solid #f9a835 !important;
}

[class^="svgcollege-"]:before, [class*=" svgcollege-"]:before, [class^="svgcollege-"]:after, [class*=" svgcollege-"]:after {
    font-family: SVGCollege;
    font-size: 30px;
    font-style: normal;
    /*    margin-left: 20px;*/
    color: #1ca9d4;
    padding-right: 15px;
}

[class^="svgsocialmedia-"]:before, [class*=" svgsocialmedia-"]:before, [class^="svgsocialmedia-"]:after, [class*=" svgsocialmedia-"]:after {
    font-family: SVGSocialMedia;
    font-size: 18px;
    font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 16px;
    font-style: normal;
}

h1 {
    color: #036e8c;
}

.mobile-sidebar {
    display: none;
}

@media (max-width: 946px) {
    main {
        grid-template-columns: 1fr;
    }


    .main .content {
        margin-left: 0;
        margin-top: 20px;
    }

    .mobile-sidebar {
        display: block;
    }

    .main .sidebar ul {
        display: none;
        text-align: left;
    }

    .main .sidebar .inner {
        padding: 15px 22px 15px;
        text-align: right;
    }

    .main .sidebar .inner:hover {
        cursor: pointer;
    }
}