@model SchoolBook.ViewModels.ClassBookViewModel

<style>
    .evaluation {
        padding: 20px 0 10px 20px;
        display: grid;
        grid-template-columns: 200px 1fr;
    }

        .evaluation h6 {
            background-color: #C8C8C8;
            color: white;
            padding: 2px 0 2px 10px;
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .evaluation div {
            padding-left: 10px;
            font-size: 13px;
        }
</style>

@if (Model.Evaluations != null && Model.Evaluations.Any())
{
    for (var i = 0; i < Model.Evaluations.Count(); i++)
    {
        var evaluation = Model.Evaluations[i];
        <div class="evaluation">
            <h6>Nota @(i + 1)</h6>
            <div>Nombre</div>
            <div>
                @evaluation.Description
            </div>
            <div>Fecha Evaluación</div>
            <div>
                @evaluation.Date.ToString("dd/MM/yyyy")
            </div>
        </div>
    }
}

