@model SchoolBook.ViewModels.ClassBookViewModel

<style>
    .inner-content .selector select {
        display: inline-block;
        margin-right: 60px;
    }
</style>

<div class="selector">
    <select asp-for="SubjectId" asp-items="Model.Subjects" class="form-control">
        <option value="">Asignatura</option>
    </select>
    <radiobutton list="Model.Periods" for="PeriodId" selected="@Model.PeriodId"></radiobutton>
</div>

<script type="text/javascript">
    $(document).on("change", "#SubjectId, [name=PeriodId]", function () {
        var data = selectorsData();
        if (data.SubjectId == "" || data.PeriodId == undefined) return;

        var container = "@(string.IsNullOrEmpty(Model.FilterAction) ? ".subject-data-container" : ".subject-data-filters")";
        var action = "@(string.IsNullOrEmpty(Model.FilterAction) ? Model.SelectorChangeAction : Model.FilterAction )";

        primarySelectorChange(container, action, data);
    });

    $(document).on("change", ".subject-data-filters input[type=hidden]", function () {
        filtersChange("@(Model.SelectorChangeAction)");
    });
</script>