@model SchoolBook.ViewModels.ClassBookViewModel
@using Microsoft.Extensions.Configuration
@using SchoolBook.Utils
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Portal - " + Configuration["AppSettings:SiteTitle"];
    Layout = "../Shared/_layout.cshtml";
}

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

<style>
    h1 {
        display: inline-block;
    }

    .student-list {
        display: grid;
        grid-template-columns: 100%;
        margin-top: 15px;
        font-size: 14px;
    }
</style>

<div class="content">
    <vc:class-selector />
    <div class="inner-content">
        <div>
            <h1>Libro de Notas</h1>
            <partial name="_SubjectSelector" />
        </div>
        <div class="informative">
            <i class="flaticon-information-button icon"></i>
            Puedes ingresar las notas mas rápido usando las flechas del teclado
            <i class="flaticon-arrow-pointing-to-left small-icon"></i>
            <i class="flaticon-arrow-pointing-down small-icon"></i>
            <i class="flaticon-arrow-up small-icon"></i>
            <i class="flaticon-arrow-pointing-to-right small-icon"></i>
            &nbsp; o las letras a, s, d y w.
        </div>
        <div class="student-list subject-data-container">
            <partial name="_GradesBook" />
        </div>
    </div>
</div>