@model SchoolBook.ViewModels.ClassBookViewModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Portal - " + Configuration["AppSettings:SiteTitle"];
    Layout = "../Shared/_layout.cshtml";
}

<style>
    h1 {
        display: inline-block;
    }

    .student-list {
        display: grid;
        grid-template-columns: 100%;
        margin-top: 15px;
        font-size: 14px;
    }
</style>

<div class="content">
    <vc:class-selector />
    <div class="inner-content">
        <div>
            <h1>Libro de Notas</h1>
            @await Html.PartialAsync("_SubjectSelector", Model)
        </div>
        <div class="informative">
            <i class="flaticon-information-button icon"></i>
            Puedes ingresar las notas mas rápido usando las flechas del teclado
            <i class="flaticon-arrow-pointing-to-left small-icon"></i>
            <i class="flaticon-arrow-pointing-down small-icon"></i>
            <i class="flaticon-arrow-up small-icon"></i>
            <i class="flaticon-arrow-pointing-to-right small-icon"></i>
            &nbsp; o las letras a, s, d y w.
        </div>
        <div class="student-list subject-data-container">
            @await Html.PartialAsync("_GradesBook", Model)
        </div>
        <div class="footer-buttons">
            <button id="btnLoadGrades" class="btn-secondary">Carga Masiva</button>
            <button id="btnSave" class="btn-primary" onclick="confirmSaving(this)">Guardar</button>
        </div>
        <confirm-action message="¿Está Seguro?" yes-title="Si" no-title="No" callback="saveGradesBook()" display-over=".footer-buttons" />
</div>
</div>

<script type="text/javascript">
    function saveGradesBook() {
        var request = $.ajax({
            type: "POST",
            url: "ClassBook/SaveGradesBook",
            data: getFormData($("#frmGradesBook")),
            success: function (result) {
                // todo: remove timer + refresh changed grades

                setTimeout(function () {
                    finishAction(result, '.footer-buttons');
                    $(".changed-score").removeClass("changed-score");
                    initialGrades = getFormData($("#frmGradesBook"));
                }, 3000);
                @*finishAction(result, '.footer-buttons');*@
            }
        });
    }
</script>